datasets/content_font_image
datasets/handwrite_dataset
datasets/reference_font_image
datasets/train_font_image
datasets/train_font_ttf
datasets/valid_font_image
datasets/valid_font_ttf
datasets/__pycache__
logs/
*.pyc
*.tar.gz
vq_font_results/checkpoints
vq_font_results/logs
vq_font_results/runs

__pycache__